.desktopNav {
  display: none;
}

.mobileMenuButton {
  display: flex;
}

.mobileMenu {
  display: block;
  border-top: 1px solid var(--gray-4);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex !important;
  }
  
  .mobileMenuButton {
    display: none !important;
  }
  
  .mobileMenu {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desktopNav {
    display: none !important;
  }
  
  .mobileMenuButton {
    display: flex !important;
  }
}